<div class="page">

    <h2 style="text-align: center;">Download Manga</h2>

    <app-url-bar (infoMangaOpenEvent)="openInfoManga()" (parametersOpenEvent)="openParameter()" (supportedSiteOpenEvent)="openSupportedSite()"></app-url-bar>

    <div style="height: 0.5em;width: 100%;"></div>

    <app-supported-site *ngIf="supportedSiteOpen" (supportedSiteOpenEvent)="openSupportedSite()"></app-supported-site>

    <app-parameters *ngIf="parametersOpen" (parametersOpenEvent)="openParameter()"></app-parameters>

    <app-info-manga *ngIf="infoManga" (infoManga)="openInfoManga()"></app-info-manga>

    <div *ngIf="parametersOpen || supportedSiteOpen || infoManga" style="height: calc(1.34375em + 0.5em);width: 100%;"></div>

    <app-loading-bar></app-loading-bar>

    <div class="download-page" *ngIf="electron.mode === 'READYTODOWNLOAD' || electron.mode === 'DOWNLOAD'">
      <app-chapters [chapters]="electron.infoChapter"></app-chapters>
    </div>

</div>

