.page {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.download-page {
  overflow: auto;
  flex: 1;
  margin-top: calc(1.34375em + 0.5em);
}

@media screen and (max-height: 630px) {
  .page {
    height: calc(630px - 40px)
  }
}
